.TodoItem__wrapper {
  --pending-opacity: 0.4;
  --completed-opacity: 0.4;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid var(--whiteish);
  opacity: 1;
  transition: opacity 800ms, translate 1200ms ease;
}

.TodoItem__wrapper.completed {
  opacity: var(--completed-opacity);
  /* text-decoration: line-through; */
}

.TodoItem__wrapper:hover {
  opacity: 1;
}

.completed .TodoItem__title {
  text-decoration: line-through;
}

.TodoItem__wrapper.pending {
  opacity: var(--pending-opacity);
  translate: 2rem;
}

.TodoItem__wrapper.selected {
  background-color: var(--whiteish-alpha);
}

.TodoItem__wrapper .checkbox__wrapper {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.TodoItem__wrapper input[type="checkbox"] {
  height: 100%;
  width: 100%;
  color: red;
}

.TodoItem__wrapper .title__wrapper {
  user-select: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}

.TodoItem__wrapper .buttons__wrapper {
  /* background-color: red; */
  display: flex;
  height: 100%;
  padding: 0.5rem;
  gap: 0.5rem;
  opacity: 0;
  transition: opacity 200ms ease;
}

.TodoItem__wrapper:hover .buttons__wrapper {
  transition: unset;
  opacity: 1;
}
