.Todos {
  width: 100%;
  /* max-width: 30rem; */
}

.todos-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  color: var(--whiteish);
  background: none;
  border: unset;
  border-bottom: 1px solid var(--whiteish-alpha);
  outline: none;
}

input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"]:focus,
input[type="password"]:hover {
  border-bottom: 1px solid var(--whiteish);
}
