.TodoItem__wrapper {
  --pending-opacity: 0.4;
  --completed-opacity: 0.4;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  /* background-color: red; */
  border-bottom: 1px solid var(--whiteish);
  opacity: 1;
  transition: opacity 200ms;
}

.TodoItem__wrapper.completed {
  opacity: var(--completed-opacity);
  text-decoration: line-through;
}

.TodoItem__wrapper:hover.completed {
  opacity: 1;
  text-decoration: line-through;
}

.TodoItem__wrapper.pending {
  opacity: var(--pending-opacity);
}

.TodoItem__wrapper .checkbox__wrapper {
  /* background-color: green; */
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.TodoItem__wrapper input[type="checkbox"] {
  /* background-color: green; */
  height: 100%;
  width: 100%;
  color: red;
}

.TodoItem__wrapper .title__wrapper {
  /* background-color: yellow; */
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}

.TodoItem__wrapper .delete__wrapper {
  /* background-color: pink; */
  padding: 0.5rem;
  opacity: 0;
  transition: opacity 200ms ease;
}

.TodoItem__wrapper:hover .delete__wrapper {
  transition: unset;
  opacity: 1;
}
