body {
  padding: 2rem;
  background-color: var(--blackish);
  color: var(--whiteish);
}

.todos-wrapper {
  margin-top: 2rem;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 30rem;
}
