body {
  padding: 2rem;
  background-color: var(--blackish);
  color: var(--whiteish);
  font-size: 2rem;
}

.App {
  width: 100%;
  max-width: 30rem;
}

.App .sync-wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.loader {
  width: 24px;
  height: 24px;
  position: relative;
  border: solid var(--whiteish) 1px;
  animation: rotate 2s linear infinite;
}

.button {
  font-size: 1rem;
  border: none;
}

input[type="submit"] {
  display: none;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
